In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
co2_ipcc = pd.read_excel('/home/humphs01/Documents/ATU/programming_for_data_analysis_assignment_2/datasets/historic/co2/41586_2008_BFnature06949_MOESM31_ESM.xls', sheet_name='2.  Vostok-TD-Dome C')
co2_ipcc_new = pd.read_excel('/home/humphs01/Documents/ATU/programming_for_data_analysis_assignment_2/datasets/historic/co2/41586_2008_BFnature06949_MOESM31_ESM.xls', sheet_name='1.  new CO2 data')

In [3]:
monnin_ipcc = co2_ipcc.iloc[6:189, 1:3]
pettit_ipcc = co2_ipcc.iloc[19:353, 5:7]
siegenthaler_1_ipcc = co2_ipcc.iloc[6:26, 16:18]
siegenthaler_2_ipcc = co2_ipcc.iloc[6:328, 12:14]
luthi_ipcc = co2_ipcc_new.iloc[16:253, 1:3]

In [4]:
monnin_ipcc.rename(columns=({'Unnamed: 1':'yr_bp', 'Unnamed: 2':'co2_ppmv'}), inplace=True)
pettit_ipcc.rename(columns=({'Unnamed: 5':'yr_bp', 'Unnamed: 6':'co2_ppmv'}), inplace=True)
siegenthaler_1_ipcc.rename(columns=({'Unnamed: 16':'yr_bp', 'Unnamed: 17':'co2_ppmv'}), inplace=True)
siegenthaler_2_ipcc.rename(columns=({'Unnamed: 12':'yr_bp', 'Unnamed: 13':'co2_ppmv'}), inplace=True)
luthi_ipcc.rename(columns=({'Unnamed: 1':'yr_bp', 'Unnamed: 2':'co2_ppmv'}), inplace=True)

In [5]:
def year(sample):
    sample['year'] = 1950 - (sample['yr_bp'])
    sample['years_before_present'] = 2023 - sample['year']
    sample.dropna(axis=0, inplace=True)
    return sample

In [7]:
studies = [monnin_ipcc ,pettit_ipcc, siegenthaler_1_ipcc, siegenthaler_2_ipcc, luthi_ipcc]

for study in studies:
    year(study)

In [8]:
luthi_ipcc

      yr_bp co2_ppmv     year years_before_present
16   665645    178.2  -663695               665718
17   666174    178.5  -664224               666247
18   666995    172.7  -665045               667068
19   667569    171.6  -665619               667642
20   668447    175.6  -666497               668520
..      ...      ...      ...                  ...
248  794608    199.4  -792658               794681
249  795202    195.2  -793252               795275
250  796467    189.3  -794517               796540
251  797099    188.4  -795149               797172
252  798512      191  -796562               798585

[237 rows x 4 columns]