In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
co2_ipcc = pd.read_excel('/home/humphs01/Documents/ATU/programming_for_data_analysis_assignment_2/datasets/historic/co2/41586_2008_BFnature06949_MOESM31_ESM.xls', sheet_name='2.  Vostok-TD-Dome C')
co2_ipcc_new = pd.read_excel('/home/humphs01/Documents/ATU/programming_for_data_analysis_assignment_2/datasets/historic/co2/41586_2008_BFnature06949_MOESM31_ESM.xls', sheet_name='1.  new CO2 data')

In [3]:
monnin_ipcc = co2_ipcc.iloc[6:189, 1:3]
pettit_ipcc = co2_ipcc.iloc[19:353, 5:7]
siegenthaler_1_ipcc = co2_ipcc.iloc[6:26, 16:18]
siegenthaler_2_ipcc = co2_ipcc.iloc[6:328, 12:14]
luthi_ipcc = co2_ipcc_new.iloc[16:253, 1:3]

In [4]:
monnin_ipcc.rename(columns=({'Unnamed: 1':'yr_bp', 'Unnamed: 2':'co2_ppmv'}), inplace=True)
pettit_ipcc.rename(columns=({'Unnamed: 5':'yr_bp', 'Unnamed: 6':'co2_ppmv'}), inplace=True)
siegenthaler_1_ipcc.rename(columns=({'Unnamed: 16':'yr_bp', 'Unnamed: 17':'co2_ppmv'}), inplace=True)
siegenthaler_2_ipcc.rename(columns=({'Unnamed: 12':'yr_bp', 'Unnamed: 13':'co2_ppmv'}), inplace=True)
luthi_ipcc.rename(columns=({'Unnamed: 1':'yr_bp', 'Unnamed: 2':'co2_ppmv'}), inplace=True)

In [5]:
def year(sample):
    sample['year'] = 1950 - (sample['yr_bp'])
    sample['years_before_present'] = 2023 - sample['year']
    sample.dropna(axis=0, inplace=True)
    return sample

In [6]:
studies = [monnin_ipcc ,pettit_ipcc, siegenthaler_1_ipcc, siegenthaler_2_ipcc, luthi_ipcc]

for study in studies:
    year(study)

In [7]:
siegenthaler_1_ipcc

     yr_bp co2_ppmv     year years_before_present
6   392544    259.5  -390594               392617
7   393579    273.6  -391629               393652
8   394560    260.7  -392610               394633
9   398086    276.3  -396136               398159
10  399722    277.1  -397772               399795
11  400504    283.2  -398554               400577
12  402000    283.1  -400050               402073
13  402731    275.7  -400781               402804
14  404181    276.5  -402231               404254
15  404927    280.5  -402977               405000
16  406368    279.6  -404418               406441
17  407093    285.6  -405143               407166
18  408600    284.5  -406650               408673
19  409383    275.2  -407433               409456
20  409383    274.2  -407433               409456
21  410206    282.6  -408256               410279
22  411071    283.5  -409121               411144
23  412962    274.9  -411012               413035
24  413948    264.9  -411998               414021
25  414963    271.6  -413013               415036

In [9]:
luthi_ipcc.to_excel('co2.xlsx')